body {
  max-width:45em;
  min-width:20em;
  margin:auto;
  padding:1em;
  font-family:'Crimson Text',serif;
  font-size:18px;
  line-height:1.4em
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height:1.1em;
  font-family:Lato,Helvetica,Arial,sans-serif
}

p {
  margin-bottom:1.2em;
  hyphens:auto;
  color:#333
}
body>header h1 {
  font-size:2.2em
}
body>header a,
body>header a:hover {
  color:black;
  text-decoration:none
}
menu {
  padding:0;
  margin:0
}
nav {
  text-align:center;
  border-top:1px solid black;
  border-bottom:1px solid black;
  padding-top:10px;
  padding-bottom:10px
}
nav a {
  color:#000;
  text-decoration:none;
  padding:0 2em
}
nav a:hover {
  color:#808080;
  text-decoration:none
}
article header p {
  margin:0.2em;
  margin-left:2em
}
article header {
  margin-bottom:2em
}
article h1 {
  font-size:2em;
  margin-bottom:0.2em
}
article h2 {
  font-size:1.5em
}
.talk-years {
    font-size: 0.8em;
    font-style: italic;
    color: #333;
}
.talk-entry:not(:first-of-type)::before {
    content: " || ";
}
