<h2>Talks</h2>

<main>
{%- autoescape false -%}
{{ yocaml_body }}
{%- endautoescape -%}

{% for talk in talks %}
<article>
  <h3>{{ talk.name }}
   {% if talk.years %}<span class="talk-years">{{ talk.years }}</span>{% endif %}
  </h3>
  <p>{{ talk.description }}</p>
  {% for entry in talk.entries %}
      {%- if entry.lang == "fr" -%}
        {%- set lang = "en Français 🇫🇷"-%}
        {%- if entry.type == "slides" -%}
          {%- set action = "Lire" -%}
        {%- else if entry.type == "video" -%}
          {%- set action = "Regarder 📹" -%}
        {%- endif -%}
        {%- if entry.label -%}
          {%- set conf = eval("{{ ', à ' + entry.label }}") -%}
        {%- endif -%}
      {%- else if entry.lang == "en" -%}
        {%- set lang = "in English 🇬🇧"-%}
        {%- if entry.type == "slides" -%}
          {%- set action = "Read" -%}
        {%- else if entry.type == "video" -%}
          {%- set action = "Watch 📹" -%}
        {%- endif -%}
        {%- if entry.label -%}
          {%- set conf = eval("{{ ', at ' + entry.label }}") -%}
        {%- endif -%}
      {%- endif -%}
  <span class="talk-entry">
    <a href="{{ entry.url }}">{{ action }} ({{ lang }}{{ conf }})</a>
  </span>
  {% endfor %}
</article>
{% endfor %}
</main>
