<article>
  <h1>{{ name }}
   {% if years %}<span class="talk-years">{{ years }}</span>{% endif %}
  </h1>
  <p>{{ description }}</p>
  {% for entry in entries %}
      {%- if entry.lang == "fr" -%}
        {%- set lang = "en Français 🇫🇷"-%}
        {%- if entry.type == "slides" -%}
          {%- set action = "Lire" -%}
        {%- else if entry.type == "video" -%}
          {%- set action = "Regarder 📹" -%}
        {%- endif -%}
        {%- if entry.label -%}
          {%- set conf = eval("{{ ', à ' + entry.label }}") -%}
        {%- endif -%}
      {%- else if entry.lang == "en" -%}
        {%- set lang = "in English 🇬🇧"-%}
        {%- if entry.type == "slides" -%}
          {%- set action = "Read" -%}
        {%- else if entry.type == "video" -%}
          {%- set action = "Watch 📹" -%}
        {%- endif -%}
        {%- if entry.label -%}
          {%- set conf = eval("{{ ', at ' + entry.label }}") -%}
        {%- endif -%}
      {%- endif -%}
  <span class="talk-entry">
    <a href="{{ entry.url }}">{{ action }} ({{ lang }}{{ conf }})</a>
  </span>
  {% endfor %}
</article>
